* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-container {
  background-color: #2e3d49;
  background-image: url(./assets/images/Hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: fit-content;
}
header {
  position: sticky;
}

.bar {
  transform: rotate(-3.48deg);
  width: 100%;
  overflow: hidden;
}
.about-section {
  background-image: url(./assets/images/About.svg);
  height: fit-content;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.my-services {
  background-image: url(./assets/images/do.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}
.skills-section {
  background-image: url(./assets/images/Experience.svg);
  height: fit-content;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  scroll-behavior: smooth;
  font-family: 'Bricolage Grotesque';
}
.cardtxt {
  font-family: 'Bricolage Grotesque';
}

/* Skills Section */

.skill-section {
  background-image: url(./assets/images/Experience.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  font-family: 'Bricolage Grotesque';
}

/* Career Section */
.career-section {
  background-image: url(./assets/images/do.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}
.slash {
  transform: rotate(90deg);
}

.click-button:hover .lets-talk {
  color: white;
}
.projects-section {
  background-image: url(./assets/images/Projects.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}

.experience-card:hover .number-heading {
  background-color: #f54a05;
}
.project-image {
  filter: brightness(60%);
}
.project-image:hover {
  cursor: pointer;
  filter: brightness(100%);
}

.moving-text {
  width: 200px;
  display: inline-block; /* Allow overflow */
  overflow: hidden; /* Hide overflowing content */
  position: relative; /* Enable relative positioning */
  animation: move-text 10s linear infinite; /* Animation properties */
}
@keyframes move-text {
  from {
    left: -100%;
  } /* Start from left side (off-screen) */
  to {
    left: 100%;
  } /* Move to right side (off-screen) */
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f54a05;
  }
}
.contact-session {
  background-image: url(./assets/images/Footer.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}
