* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-container {
  background-color: #2e3d49;
  background-image: url(./assets/images/Ellipse.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-width: 100%;
}
.about-img {
  box-shadow: rgba(209, 101, 1, 0.2) 0px 7px 29px 0px;
}

.bar {
  transform: rotate(-3.48deg);
  width: 100%;
}
.about-section {
  background-image: url(./assets/images/About.png);
  height: fit-content;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.my-services {
  background-image: url(./assets/images/do.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  width: 100%;
}
.skills-section {
  background-image: url(./assets/images/Experience.svg);
  height: fit-content;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  scroll-behavior: smooth;
  font-family: 'Bricolage Grotesque';
}
.service-card:hover {
  box-shadow: rgba(240, 84, 28, 0.2) 0px 7px 29px 0px;
}

/* Skills Section */

.skill-section {
  background-image: url(./assets/images/Experience.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  width: 100%;
  font-family: 'Bricolage Grotesque';
}

/* Career Section */
.career-section {
  background-image: url(./assets/images/do.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
}
.slash {
  transform: rotate(90deg);
}

/* Scroll Text */
#scroll-textt {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.experience-card:hover .number-heading {
  background-color: #f54a05;
}
